:root {
  --text-color: hsl(200, 15%, 8%);
  --elements: hsl(0, 0%, 100%);
  --background-light: hsl(0, 0%, 98%);
  --box-shadow: 2px 2px 8px #999999;
}

.loading {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: var(--elements);
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.App-header h3 {
  margin-left: 30px;
}

.darkBtn {
  color: var(--text-color);
  margin-right: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  background-color: none;
  border: none;
  text-decoration: none;
}

.darkBtn:hover {
  transform: scale(1.1);
}

.SearchAndFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search {
  margin-left: 80px;
  margin-bottom: 50px;
}

.search input {
  width: 300px;
  height: 50px;
  background-color: var(--elements);
  text-align: left;
  border: none;
  padding-left: 10px;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  outline: none;
}

.filter {
  margin-right: 80px;
  margin-bottom: 50px;
}

.filter select {
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: var(--box-shadow);
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  background-color: var(--elements);
  color: var(--text-color);
  text-align: left;
}

.main-container {
  width: 100%;
  margin-top: 60px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-country {
  cursor: pointer;
  text-decoration: none;
}

.card {
  width: 300px;
  height: 400px;
  background-color: var(--elements);
  margin: 15px;
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  box-shadow: var(--box-shadow);
}

.card h3 {
  text-align: left;
  margin-left: 20px;
}

span {
  font-weight: 600;
  padding-right: 10px;
}

.content-card {
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
}

@media (max-width: 500px) {
  .SearchAndFilter {
    justify-content: center;
  }

  .search {
    margin-left: 0;
  }

  .filter {
    margin-right: 0;
  }
}
